<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <!--semantic-ui-->
</head>
<body>
<div>
    <form th:action="@{/login}" method="post">
        <div class="field">
            <div class="ui left icon input">
                <input type="hidden" th:value="${_csrf.token}" name="_csrf" th:if="${_csrf}"/>
            </div>
        </div>
        <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
                <input type="text" placeholder="Username" name="username"/>
                <i class="user icon"></i>
            </div>
        </div>
        <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
                <input type="password" name="password">
                <i class="lock icon"></i>
            </div>
        </div>
        <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
                <input type="checkbox" name="remember">记住我
                <i class="lock icon"></i>
            </div>
        </div>

        <input type="submit" class="ui blue submit button"/>
    </form>
</div>
<!--主容器-->

</body>
</html>