<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定Dao-->


<mapper namespace="com.com.com.haige.dao.UserMapper">
    <resultMap id="userResultMap" type="User">
        <result property="userid" column="id" />
        <result property="username" column="name"/>
        <result property="password" column="pwd"/>
    </resultMap>
    <select id="getUserList" resultMap="userResultMap">
        select * from mybatis.user
    </select>
    <select id="getUserLike" resultMap="userResultMap">
        select * from mybatis.user where name like #{value}
    </select>
    <select id="getUserById" parameterType="int" resultMap="userResultMap">
        select id,name,pwd from mybatis.user where id = #{id}
    </select>
    <insert id="addUser" parameterType="User">
        insert into mybatis.user (id, name, pwd) values (#{userid}, #{username}, #{password})
    </insert>
    <insert id="addUser2" parameterType="map">
        insert into mybatis.user (id, name, pwd) values (#{userid}, #{username}, #{password})
    </insert>

    <update id="updateUser" parameterType="User">
        update mybatis.user
        set name=#{username},pwd=#{password}
        where id=#{userid};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id=#{id}
    </delete>
</mapper>